/* Index Page */
/* Nav bar */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: "MaisonNeueBook","Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
  }
  nav{
    background: #f4f4f4;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }


  nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: none;
    color: Gray;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #f4f4f4;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size:20px;
    }
    a:hover,a.active{
      background: none;
      color: gray;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  /* Slide Show under navbar */
  * {box-sizing:border-box;}
  body {font-family: Verdana, sans-serif;}
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    height: 90vh;
    background-color:lightslategray;
  }
  
  .slidesimg{
     display: flex;
     text-align: center;
     justify-content: center;
     width:100%;
     padding: 35px;
  }
 
  /* Caption text */
  .salestext {
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

/* Categories */

div li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
div li a{
    color: black;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    display: flex;

  }
a.active,a:hover{
    background: none;
    color: Gray;
    transition: .5s;
  }

  .categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


/* Sub-Categories */

.item-here img {
    width: 80%;
    height: auto;
    object-fit: contain;
  }

.catetext{
    color: black;
    font-family: cursive;
}
.catetext:hover{
    background: none;
    color: Gray;
    transition: .5s;
}
  
.item-here {
    width: 300px;
    padding: 10px;
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: gray;
    margin: 10px;

    text-transform: uppercase;
    
  }
  
.subcategories-grid {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* Footer */
  .footer {
    width:100%;
    bottom: 0;
    margin-top: 100px;
    margin-right: 35px;
    background-color: white;
    color: rgb(59, 56, 56);
    height:150px;
    font-size: 10px;
    font-family: monospace;

    text-align: center;
    justify-content: center;
    display: flex;
 }
  

 /* Services Page */


 section{
    background: no-repeat;
    background-color: #f4f4f4;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


 /* Electron Font */
  @import url('https://fonts.googleapis.com/css?family=Monoton');


  body {
    width: 100%;
    height: 100%;
    font-family: "Monoton", Helvetica, sans-serif;
    background: #f4f4f4;
    letter-spacing: 5px;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    font-size: 70px;
    text-transform: uppercase;
    
    @media (min-width: 700px) {
      font-size: 9vw;
    }
    
    @media (min-width: 1400px) {
      font-size: 150px;
    }
  }
  
  @supports (-webkit-background-clip: text) {
      h1 {
          color: transparent;
          background: linear-gradient(7deg, rgb(223, 221, 221) 50%, #9c9b9b 0);
          -webkit-background-clip: text;
      }
  }


